export(actg_as_html)
export(actg_as_p)
export(actg_diff)
export(actg_k3)
export(actg_pdf)
export(actg_unwrap)
export(actg_wrap)
export(barcode)
export(color_legend)
export(color_sequence)
export(color_symbol)
export(colored_bar)
export(hex_col)
export(rmdtext)
import(RecordLinkage)
import(gsubfn)
import(knitr)
import(opencpu)
